{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
<div class="container">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <center>     
       </br>
       </br>
       </br>
    <div class="jumbotron" style="width:320px">
            <h3 class="display-5" class="h3 font-weight-normal">Please sign in</h3>
            </br>
            <p class="lead" >
            <div class= "row mb-3">
            <div class="col-3">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus style="width:250px">
            </div>
            </div>
            <div class="row mb-3">
            <div class="col-3">   
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required style="width:250px">
                <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
            </div>
            </div>
            </p>
            <br/>
            <p class="lead">
                <button class="btn btn-lg btn-secondary" type="submit">
                    Sign in
                </button>
            </p>
        </center>
    </div>
</form>
     {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{% endblock %}
